
i{
    background-color: #FFC300 ;
    color:beige;
    font-size: 60px;
}

.services
{
    
    width: 600px;
    text-align: center;  
    
}
.service{
    float: left;
    width: 200px;
    

}
.clearfix{
    clear: both;
}
.services p{
    font-style: italic;
    color: grey;
}
